

/* Header Styling */ 
.header {background-color: #ffffff;
        border-color: #cccccc;
        font-family: 'Georgia', 'Times', "Times New Roman", 'serif';
        height: 100px;
        width: 100%;
        padding: 0;
        margin: 0;
       
        }
/* Box class to be used for positioning the boxes within the header*/
.box { position: absolute;
       font:#777777;

}

/* Styling for Name */
.name { height: 20px;
        width: 50px;
        padding: 20px;
        top: 20 px;
        left: 20px;
        background-color: #4aaaa5;
        font:#ffffff;
}

/* Styling for About */
.about { top: 50px;
         left: 65%;
         

}

/* Styling for Portfolio */
.portfolio { top: 50px;
             left: 75%;


}

/* Styling for Contact */
.contact {top: 50px;
          left: 85%;

}

/*  Footer Styling */
.footer {background-color: #666666;
        font-family: 'Arial', "Helvetica Neue", 'Helvetica', 'sans-serif'; 
        height: 20px;
        width: 480px;
        position: 
}

/* Main content */
body {background-color: #ffffff;
      border-color: #dddddd
      }





  